<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-end">
        <a href="#" class="btn btn-outline-success me-2" type="button">PROJECTS</a>
        <a href="#" class="btn btn-outline-danger" type="button">LOG OUT</a>
    </form>
</nav>

<div class="card" style="width: 600px;">
    <div class="card-body">
        <h1>Create Task</h1>
        <form th:action="@{/task/add/{id}(id=${projectId})}" th:object="${createTask}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" th:field="${createTask.name}" class="form-control" id="name" placeholder="Enter name" required>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea th:field="${createTask.description}" class="form-control" id="description" placeholder="Enter description"></textarea>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" th:field="${createTask.startDate}" class="form-control" id="startDate" placeholder="Enter start date" required>
            </div>
            <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" th:field="${createTask.endDate}" class="form-control" id="endDate" placeholder="Enter end date" required>
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <input type="number" th:field="${createTask.priority}" class="form-control" id="priority" placeholder=3 required>
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select th:field="${createTask.status}" class="form-control" id="status" required>
                    <option value="1">To Do</option>
                    <option value="2">In Progress</option>
                    <option value="3">Done</option>
                </select>
            </div>
            <div class="form-group">
                <label for="assignedTo">Assign to:</label>
                <select class="form-control" id="assignedTo" name="assignedTo" required="required" th:field="${createTask.userId}">
                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-outline-primary create-task">Create Task</button>
        </form>
    </div>
</div>
</body>
<style>
    .card{
        align-items: center;
        margin: auto;
        margin-top: 50px;
    }
    .input{
        margin-bottom: 30px;
    }
    .create-task{
        margin-top:30px;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>