<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Edit Task</title>
</head>
<body>
<h1>Edit Task</h1>
<form th:action="@{/task/edit/{id}(id=${taskId})}" th:object="${updateTask}" method="POST">
    <label for="name">Task name:</label>
    <input type="text" id="name" name="name" th:value="${updateTask.name}" /><br /><br />
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" th:value="${updateTask.description}" /><br /><br />
    <label for="status">Status:</label>
    <select id="status" name="status" th:field="*{statusId}">
        <option value="1" th:selected="${updateTask.statusId == 1}">To Do</option>
        <option value="2" th:selected="${updateTask.statusId == 2}">In Progress</option>
        <option value="3" th:selected="${updateTask.statusId == 3}">Done</option>
    </select><br /><br />
    <label for="startDate">Start date:</label>
    <input type="text" id="startDate" name="startDate" th:value="${updateTask.startDate}" /><br /><br />
    <label for="endDate">End date:</label>
    <input type="text" id="endDate" name="endDate" th:value="${updateTask.endDate}" /><br /><br />
    <button type="submit">Update Task</button>
</form>
</body>
</html>