<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-end">
        <a href="#" class="btn btn-outline-success me-2" type="button">PROJECTS</a>
        <a href="#" class="btn btn-outline-danger" type="button">LOG OUT</a>
    </form>
</nav>

<div class="card" style="width: 600px;">
    <div class="card-body">
        <h1>EDIT TASK</h1>
        <form th:action="@{/task/edit/{id}(id=${taskId})}" th:object="${updateTask}" method="POST">
            <div class="form-group">
                <label for="name">Task name:</label>
                <input class="form-control input" type="text" id="name" name="name" th:value="${updateTask.name}">
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <input class="form-control input"  type="text" id="description" name="description" th:value="${updateTask.description}">
            </div>

            <div class="form-group">
                <label for="status">Status:</label>
                <select  class="form-control input" id="status" name="status" th:field="*{statusId}">
                    <option value="1" th:selected="${updateTask.statusId == 1}">To Do</option>
                    <option value="2" th:selected="${updateTask.statusId == 2}">In Progress</option>
                    <option value="3" th:selected="${updateTask.statusId == 3}">Done</option>
                </select>
            </div>

            <div class="form-group">
                <label for="startDate">Start date:</label>
                <input  class="form-control input" type="date" id="startDate" name="startDate" th:value="${updateTask.startDate}" />
            </div>

            <div class="form-group">
                <label for="endDate">End date:</label>
                <input class="form-control input" type="date" id="endDate" name="endDate" th:value="${updateTask.endDate}"/>
            </div>

            <button type="submit" class="btn btn-outline-success me-2">Update task</button>
        </form>

    </div>
</div>
</body>
<style>
    .card{
        align-items: center;
        margin: auto;
        margin-top: 50px;
    }
    .input{
        margin-bottom: 30px;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>