<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logs</title>
    <style>
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        li {
            margin-bottom: 10px;
            background-color: #f2f2f2;
            border: 1px solid #ccc;
            padding: 10px;
        }
        .log-message {
            font-family: monospace;
            white-space: pre-wrap;
        }
    </style>
</head>
<body>
<h1>Logs</h1>
<ul>
    <li th:each="log : ${logs}">
        <div class="log-message" th:text="${log}"></div>
    </li>
</ul>
</body>
</html>
